%h1 Your Assignments
%table.table.table-condensed{:id => "student_assignments_table"}
	%thead
		%tr
			%th Name
			%th Course Name
			%th Start Date
			%th Due Date
			%th Submited Date
			%th Earned/Max
			%th
	%tbody
		- @student_assignments.each do |assignment|
			%tr{:id => "assignment_#{assignment.id}"}
				%td{:id => "assignment_#{assignment.id}_name"}= @course_assignments[@student_assignments.index(assignment)].name

				%td= assignment.course.name

				%td= @course_assignments[@student_assignments.index(assignment)].start_date

				%td= @course_assignments[@student_assignments.index(assignment)].due_date

				%td= assignment.submit_date

				%td #{assignment.earned_points}/#{@course_assignments[@student_assignments.index(assignment)].max_points}

				-if assignment.submit_date.nil? != true
					%td
						=button_to("View Assignment", student_enrolled_student_assignment_path(id: assignment.id), method: :get, class: "btn btn-m btn-success")
				-else
					%td
						=button_to("Submit Assignment", {action: "submit_submission", student_id: params[:student_id], id: assignment.id}, method: :get, class: "btn btn-m btn-success")


